.cards_container {
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cards_container .agent_card {
    height: 310px;
    width: 240px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 10px 8px;
}

.cards_container .agent_card .agent_image {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.cards_container .agent_card .agent_image img {
    transform: scale(0.85);
}
.cards_container .agent_card .agent_name {
    text-align: center;
    font-size: 18px;
}
.cards_container .agent_card form {
    margin-top: 10px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}
.cards_container .agent_card button {
    font-weight: 600;
    border-radius: 8px;
    background-color: white;
    color: #006fc4;
    margin: auto;
    outline: none;
    border: 1px solid #006fc4;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 10px;
}
.cards_container .agent_card button:hover {
    background-color: #006fc4;
    color: white;
}