#acheter_produit {
    margin: auto;
    margin-top: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 40px 70px;
    width: 90%;
    height: auto;
    position: relative;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-division label {
    width: 25%;
}
.input-division{
    display: flex;
    justify-content: space-between;
}
.input-division select, .input-division input {
    width: 70%;
}

input, select {
    padding: 3px 12px;
    font-size: 18px;
    /* border-radius: 8px; */
    border: 1px solid black;
}

.titre-acheter-produit {
    margin-top: 70px;
    font-size: 30px;
    text-align: center;
    color: #006fc4;
    font-weight: 700;
}

#new_category_container {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}
.trying-div {
    display: flex;
    justify-content: space-between;
}
#new_category_container input {
    width: 70%;
} 
.hidden-division {
    display: flex;
    justify-content: space-between;
}

.hidden-division input {
    width: 43%;
}
#acheter_porduit {
    margin-top: 20px;
    color: #fff;
    background-color: #006fc4;
    cursor: pointer;
    border: none;
    padding: 8px;
    font-size: 20px;
}
#acheter_porduit:hover {
    background-color: #0263ad;
}
/* border-radius */

.inserted-message {
    position: fixed;
    bottom: 15px;
    left: 50%;
    width: 350px;
    height: 70px;
    /* border-radius: 15px; */
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 5px 15px;
}
.inserted-message i {
    font-size: 40px;
}
.inserted-message .text-inserted-perfectly {
    color: #fff;
    font-size: 20px;
    height: 100%;
}

.inserted-perfectly-container {
    background-color: #329932;
}
.inserted-perfectly-container i {
    color: #52c052;
}

.inserted-wrongly-container {
    background-color: #FF1919;
}
.inserted-wrongly-container i {
    color: #ff7b7b;
}

